*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Oswald",sans-serif;
    background-color: #2c3e50;
}

/* Header Section  */

li{
    list-style:none;
    display:inline-block;
    padding:20px;
    text-transform:uppercase;
}

a{
    text-decoration:none;
    color:#2c3e50;
}

.container{
    max-width:1400px;
    margin:0 auto;
    background-color: #fff;
    
}

header h1{
    padding:20px;
    color:#2c3e50;
    text-align:center;
}

span{
    color:#e74c3c;
}

.nav-menu{
    background-color: #fafafa;
    text-align:center;
}

.nav-menu a:hover{
    color:#e74c3c;
}

/* About Section*/

.about-text{
    padding:0 50px;
}

.about-text h2{
    color:#e74c3c;
    text-transform: uppercase;
    font-weight:300;
    font-size:30px;
    margin:30px 0;
}

.about-text p{
    font-weight:400;
    color:#2c3e50;
    margin-bottom: 10px;
}

.about-text a{
    color:#e74c3c;
    font-weight:700;
}

.about-text a:hover{
    color:#2c3e50;
}

/*show-food section*/
.show-food{
    margin-top:80px;
    padding:0 50px;
}
.food{
    display:flex;
    margin-bottom: 20px;
    width:100%;
    background-color:#2c3e50;
}
.orange{
    background-color:#e74c3c;   /*nth-child can be used*/
}
.show-food h2{
   color:#fff;
   font-weight:300;
   font-size:20px;
   margin-bottom:10px;
   text-transform:uppercase;
   letter-spacing:2px;
}
.food-text{
    color:#fff;
    margin-left:20px;
    padding:20px;
}
.food p{
    font-weight:300;
    font-size: 16px;
}
.food img{
    height:100%;
}   /*in case of image stretching in small windows*/

/*Footer Section*/
.end-image{
    width:80%;
    margin:auto;
}
.end-image img{
    width:100%;
}
footer{
    background-color:#e74c3c;
    text-align: center;
    color:#fff;
    padding:20px;
    font-weight:700;
    font-size:18px;
}
